*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif,serif;
}
.body{
	align-items: center;
	background-color:#e3eaec;
	display: flex;
	justify-content: center;
	min-height: 100vh;

}
.form{
	background: #091921;
	border-radius: 10px;
	box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.1),
	5px 5px 15px rgba(0,0,0,0.8);
	padding: 50px 20px 60px;
	position: relative;
	text-align: center;
	width: 370px;


}
.form h2{
	color: #22f2aa;
	font-size: 30px;
	font-weight: 700;
	text-shadow: 0 0 10px #22f2aa;
	text-transform: uppercase;
}
.form-content{
	margin: 45px 22px;
	text-align: left;
}
.form .form-content .form-box{
	margin-top: 25px;
}
.form .form-content .form-box label{
	color: #fff;
	display: block;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 5px;
}
.form .form-content .form-box input{
	background: #091921;
	border: none;
	border-radius: 10px;
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.1),
	inset 3px 3px 6px rgba(0,0,0,0.8);
	color: #6f6f6f;
	font-size: 18px;
	height: 50px;
	outline: none;
	padding: 5px 15px;
	width: 100%;
}
.form .form-content .form-box input:focus{
	text-shadow: 0 0 10px #22f2aa;
	color: #22f2aa;
}
.form .form-content .form-box input[type="submit"]{
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.1),
	inset 3px 3px 6px rgba(0,0,0,0.8);
	font-weight: 600;
	margin-top: 20px;
	text-transform: uppercase;

}
.form .form-content .form-box input:hover{
	box-shadow: 0 0 20px #22f2aa;
	background: #22f2aa;
	color: black;
	transition: 4s;
}
.form .form-content .form-box input[type="submit"]:active{
	box-shadow: 0 0 20px #22f2aa;
	background: #22f2aa;
	color: black;
	margin-top: 20px;
}
.form .form-content .form-box input::placeholder{
	color: #6f6f6f;
	text-shadow: none;
	font-size: 18px;
	text-transform: capitalize;
}
.forgot{
	color:#6f6f6f;
	margin-top: 30px;
	text-transform: capitalize;

}
.forgot a{
	color: #22f2aa;
	box-shadow: 0 0 10px #22f2aa;
}
.forgot a:hover{
	text-decoration:none;
	color: #22f2aa;
	box-shadow: 0 0 10px #22f2aa;

}
